In [3]:
from datetime import datetime
from datetime import date
from datetime import time

now = datetime.now()
today = date.today()
curtime = datetime.now().time()

display(now, today, curtime)

datetime.datetime(2020, 1, 9, 13, 36, 0, 495572)

datetime.date(2020, 1, 9)

datetime.time(13, 36, 0, 495572)

In [4]:
from datetime import datetime
from datetime import date
from datetime import time

dt1 = datetime(2020, 7, 23)
dt2 = datetime(2020, 7, 23, 12, 27)
dt3 = datetime(2020, 7, 23, 12, 27, 59)

d = date(2020, 7, 23)

t1 = time(13)
t2 = time(13, 35)           
t3 = time(13, 35, 47)

In [5]:
from datetime import datetime
from datetime import date
from datetime import time

a = date(2021, 2, 29)       
b = date(2020, 9, 31)
c = time(24, 0)

ValueError: day is out of range for month

In [7]:
from datetime import datetime
from datetime import date
from datetime import time

dt = datetime(2020, 7, 23, 12, 22, 32)
dt2 = dt.replace(year=2022)
dt2 = dt.replace(month=2, day=14)
print(dt2)

d = date.today()
d2 = d.replace(day=30)

t = datetime.now().time()
t2 = t.replace(minute=15)

2020-02-14 12:22:32

In [1]:
from datetime import datetime
from datetime import date
from datetime import time

dt = datetime(2020, 7, 23, 12, 22, 32)
print(dt.day)
print(dt.month)

d = datetime(2020, 7, 23)
print(d.year)
print(d.weekday())

t = datetime.now().time()
print(t.hour)

23
7
2020
3
13

In [8]:
from datetime import datetime
from datetime import date
from datetime import time

dt = datetime(2020, 7, 23, 12, 22, 32)
print(dt.day)
print(dt.month)

d = datetime(2020, 7, 23)
print(d.year)
print(d.weekday())

t = datetime.now().time()
print(t.hour)

23
7
2020
3
13

In [9]:
from datetime import date

wd = ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์' 'เสาร์']
d = date(2020, 7, 23)
w = d.weekday()
if w == 6:
    w = 0
else:
    w += 1

print('weekday => ', wd[w])

weekday =>  พฤหัสบดี

In [14]:
from datetime import date

months = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 
          'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']

d = date(2020, 7, 23)
month_name = months[d.month - 1]  #ต้องลบด้วย 1 เพราะลำดับของลิสต์อยู่ระหว่าง 0 - 11

month_name

'กรกฎาคม'

In [2]:
from datetime import date
from datetime import timedelta

d1 = date(2020, 8, 12)
d2 = date(2020, 12, 5)
delta = d2 - d1
print(delta)        

days = delta.days   
num_months = days // 30 
num_days = days % 30
print(f'วันที่ 5 ธันวาคม และ 12 สิงหาคม ห่างกัน {num_months} เดือน {num_days} วัน')

birthday = date(2002, 3, 31)
today = date.today()
delta = today - birthday
days = delta.days
age = days // 365
print(age)

115 days, 0:00:00
วันที่ 5 ธันวาคม และ 12 สิงหาคม ห่างกัน 3 เดือน 25 วัน
17

In [ ]:
from datetime import date
from datetime import timedelta

next_2_months = timedelta(days=60)         #อีก 60 วัน
next_4_years = timedelta(days=4*365)       #อีก 4 ปี
last_6_weeks = timedelta(weeks=-6)         #6 สัปดาห์ที่แล้ว (ติดลบ)
next_12_5_hours = timedelta(hours=12.5)

In [15]:
from datetime import date
from datetime import timedelta

d = date(2020, 7, 17)
next_2_months = timedelta(days=60)
next_d = d.__add__(next_2_months)

print(next_d)

2020-09-15

In [16]:
from datetime import datetime
from datetime import date

d1 = date(2020, 7, 24)
d2 = date(2020, 8, 12)
print(d1 > d2)      
print(d1 < d2)     

dt1 = datetime(2020, 7, 24, 0, 0, 0)
dt2 = datetime(2020, 7, 24)
print(dt1 == dt2)     
print(d1 == dt2)       

if d1 != date.today():
    print("Error")

False
True
True
False
Error

In [17]:
from datetime import date

dt = date(2020, 7, 24)
s = dt.strftime('%d-%m-%Y')

print(s)

24-07-2020

In [18]:
import pandas as pd

dr = pd.date_range(start='2020-01-01', end='2020-01-15')
dr

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15'],
              dtype='datetime64[ns]', freq='D')

In [19]:
import pandas as pd

dr = pd.date_range(start='2020-02-20', periods=10)
#หรือ pd.date_range('2020-02-20', periods=10)
dr

DatetimeIndex(['2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23',
               '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27',
               '2020-02-28', '2020-02-29'],
              dtype='datetime64[ns]', freq='D')

In [21]:
import pandas as pd

dr1 = pd.date_range(end='2020-12-31', periods=10)

dr2 = pd.date_range(end='2020-01-02', periods=7)

display(dr1, dr2)

DatetimeIndex(['2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01', '2020-01-02'],
              dtype='datetime64[ns]', freq='D')

In [22]:
import pandas as pd

dr1 = pd.date_range('2020-01-20', periods=10, freq='D')

dr2 = pd.date_range('2020-01-01', periods=10, freq='10D')

display(dr1, dr2)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2020-01-01', '2020-01-11', '2020-01-21', '2020-01-31',
               '2020-02-10', '2020-02-20', '2020-03-01', '2020-03-11',
               '2020-03-21', '2020-03-31'],
              dtype='datetime64[ns]', freq='10D')

In [23]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-01', periods=5, freq='W') #W-SUN
dr2 = pd.date_range('2020-01-01', periods=5, freq='W-SAT')

display(dr1, dr2)

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02'],
              dtype='datetime64[ns]', freq='W-SUN')

DatetimeIndex(['2020-01-04', '2020-01-11', '2020-01-18', '2020-01-25',
               '2020-02-01'],
              dtype='datetime64[ns]', freq='W-SAT')

In [24]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-10', periods=5, freq='M')
dr2 = pd.date_range('2020-01-10', periods=5, freq='MS')

display(dr1, dr2)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

DatetimeIndex(['2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
               '2020-06-01'],
              dtype='datetime64[ns]', freq='MS')

In [25]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-01', periods=5, freq='SM')
dr2 = pd.date_range('2020-01-01', periods=5, freq='SMS')

display(dr1, dr2)

DatetimeIndex(['2020-01-15', '2020-01-31', '2020-02-15', '2020-02-29',
               '2020-03-15'],
              dtype='datetime64[ns]', freq='SM-15')

DatetimeIndex(['2020-01-01', '2020-01-15', '2020-02-01', '2020-02-15',
               '2020-03-01'],
              dtype='datetime64[ns]', freq='SMS-15')

In [26]:
import pandas as pd

dr1 = pd.date_range(start='2020-01', periods=8, freq='Q')
dr2 = pd.date_range(start='2020-01', periods=8, freq='QS')

display(dr1, dr2)

DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

DatetimeIndex(['2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01',
               '2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

In [27]:
import pandas as pd

dr = pd.date_range(start='2020Q2', end="2022Q4", freq='Q')
dr

DatetimeIndex(['2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31',
               '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31',
               '2022-06-30', '2022-09-30'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [28]:
import pandas as pd

dr1 = pd.date_range(start='2020-01', periods=6, freq='A')
dr2 = pd.date_range(start='2020-01', periods=6, freq='AS')
dr3 = pd.date_range(start='2020-01', periods=6, freq='AS-APR')

display(dr1, dr2, dr3)

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

DatetimeIndex(['2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

DatetimeIndex(['2020-04-01', '2021-04-01', '2022-04-01', '2023-04-01',
               '2024-04-01', '2025-04-01'],
              dtype='datetime64[ns]', freq='AS-APR')

In [29]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-01', periods=6, freq='H')
dr2 = pd.date_range(start='2020-01-01 8:30', periods=6, freq='30T')
dr3 = pd.date_range(start='2020-01-01 6:00', periods=6, freq='3H30T')

display(dr1, dr2, dr3)

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00'],
              dtype='datetime64[ns]', freq='H')

DatetimeIndex(['2020-01-01 08:30:00', '2020-01-01 09:00:00',
               '2020-01-01 09:30:00', '2020-01-01 10:00:00',
               '2020-01-01 10:30:00', '2020-01-01 11:00:00'],
              dtype='datetime64[ns]', freq='30T')

DatetimeIndex(['2020-01-01 06:00:00', '2020-01-01 09:30:00',
               '2020-01-01 13:00:00', '2020-01-01 16:30:00',
               '2020-01-01 20:00:00', '2020-01-01 23:30:00'],
              dtype='datetime64[ns]', freq='210T')

In [30]:
import pandas as pd

dr = pd.date_range(start='2020-01-01', periods=10, freq='B')
display(dr)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', freq='B')

In [2]:
import pandas as pd
from datetime import datetime

#สมมติว่าเราต้องการวันทำงานของเดือนธันวาคม ปี 2020 ซึ่งอยู่ในช่วง 1/12/2020 - 31/12/2020
#5/12/2020 ตรงกับวันเสาร์
#10/12/2020 ตรงกับวันพฤหัสบดี
#31/12/2020 ตรงกับวันพฤหัสบดี

hols = [datetime(2020,12,5), datetime(2020,12,10),
        datetime(2020,12,31)]

bd = pd.bdate_range(start='2020-12-01', end='2020-12-31', 
                    freq='C', holidays=hols)

bd

DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
               '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-11',
               '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-25', '2020-12-28', '2020-12-29',
               '2020-12-30'],
              dtype='datetime64[ns]', freq='C')

In [32]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-01', periods=12, freq='MS')
dr20 = dr1 + pd.DateOffset(days=19)

dr20

DatetimeIndex(['2020-01-20', '2020-02-20', '2020-03-20', '2020-04-20',
               '2020-05-20', '2020-06-20', '2020-07-20', '2020-08-20',
               '2020-09-20', '2020-10-20', '2020-11-20', '2020-12-20'],
              dtype='datetime64[ns]', freq=None)

In [35]:
import pandas as pd

dr = pd.date_range(start='2020-01-01', periods=12, freq='M')
dr -= pd.DateOffset(days=5)

dr

DatetimeIndex(['2020-01-26', '2020-02-24', '2020-03-26', '2020-04-25',
               '2020-05-26', '2020-06-25', '2020-07-26', '2020-08-26',
               '2020-09-25', '2020-10-26', '2020-11-25', '2020-12-26'],
              dtype='datetime64[ns]', freq=None)

In [36]:
import pandas as pd

dr = pd.date_range(start='2020-01-01', periods=31, freq='D')

display(dr[0], 
        dr[10], 
        dr[20:25], 
        dr[dr > '2020-01-20'])

Timestamp('2020-01-01 00:00:00', freq='D')

Timestamp('2020-01-11 00:00:00', freq='D')

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [37]:
import pandas as pd

dr = pd.date_range(start='2020-01-01', periods=31, freq='D')

display(dr.day, 
        dr[dr.day > 20])

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64')

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [38]:
import pandas as pd

dr1 = pd.date_range(start='2020-01-01', periods=12, freq='MS')
dr16 = dr1 + pd.DateOffset(days=15)

dr1_16 = dr1.union(dr16)

dr1_16

DatetimeIndex(['2020-01-01', '2020-01-16', '2020-02-01', '2020-02-16',
               '2020-03-01', '2020-03-16', '2020-04-01', '2020-04-16',
               '2020-05-01', '2020-05-16', '2020-06-01', '2020-06-16',
               '2020-07-01', '2020-07-16', '2020-08-01', '2020-08-16',
               '2020-09-01', '2020-09-16', '2020-10-01', '2020-10-16',
               '2020-11-01', '2020-11-16', '2020-12-01', '2020-12-16'],
              dtype='datetime64[ns]', freq=None)

In [39]:
import pandas as pd

di = pd.DatetimeIndex(['2020-01-01', '2020/04/06', 
                       '4/13/2020', 'Jul 28, 2020', 
                       '12 August 2020', 'Tue 13 Oct 2020'])

di

DatetimeIndex(['2020-01-01', '2020-04-06', '2020-04-13', '2020-07-28',
               '2020-08-12', '2020-10-13'],
              dtype='datetime64[ns]', freq=None)

In [40]:
import pandas as pd

dr = pd.date_range('2020', periods=10, freq='A')

dr

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [41]:
import pandas as pd

pr = pd.period_range('2020', periods=10, freq='A')

pr

PeriodIndex(['2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027',
             '2028', '2029'],
            dtype='period[A-DEC]', freq='A-DEC')

In [42]:
import pandas as pd

pr_q = pd.period_range('2020Q1', periods=8, freq='Q')
pr_m = pd.period_range('2020-01', periods=12, freq='M')
pr_w = pd.period_range('2020-01-01', periods=8, freq='W-SAT')

display(pr_q, pr_m, pr_w)

PeriodIndex(['2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
             '2021Q3', '2021Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]', freq='M')

PeriodIndex(['2019-12-29/2020-01-04', '2020-01-05/2020-01-11',
             '2020-01-12/2020-01-18', '2020-01-19/2020-01-25',
             '2020-01-26/2020-02-01', '2020-02-02/2020-02-08',
             '2020-02-09/2020-02-15', '2020-02-16/2020-02-22'],
            dtype='period[W-SAT]', freq='W-SAT')

In [44]:
import pandas as pd

dr = pd.date_range('06:00', periods=6, freq='H')

dr

DatetimeIndex(['2020-01-09 06:00:00', '2020-01-09 07:00:00',
               '2020-01-09 08:00:00', '2020-01-09 09:00:00',
               '2020-01-09 10:00:00', '2020-01-09 11:00:00'],
              dtype='datetime64[ns]', freq='H')

In [45]:
import pandas as pd

td_h = pd.timedelta_range('6:30:00', periods=12, freq='H')
td_t = pd.timedelta_range('12:00:00', periods=10, freq='30T')

display(td_h, td_t)

TimedeltaIndex(['06:30:00', '07:30:00', '08:30:00', '09:30:00', '10:30:00',
                '11:30:00', '12:30:00', '13:30:00', '14:30:00', '15:30:00',
                '16:30:00', '17:30:00'],
               dtype='timedelta64[ns]', freq='H')

TimedeltaIndex(['12:00:00', '12:30:00', '13:00:00', '13:30:00', '14:00:00',
                '14:30:00', '15:00:00', '15:30:00', '16:00:00', '16:30:00'],
               dtype='timedelta64[ns]', freq='30T')

In [46]:
import pandas as pd

data = np.random.randint(1, 101, 12)
idx = pd.date_range('2020-01', periods=12, freq='MS')

sr = pd.Series(data, index=idx)

display(sr.head(3),
        sr.tail(2),
        sr[sr > 50])

2020-01-01    22
2020-02-01     9
2020-03-01     8
Freq: MS, dtype: int32

2020-11-01    71
2020-12-01    57
Freq: MS, dtype: int32

2020-06-01    68
2020-07-01    70
2020-08-01    97
2020-09-01    54
2020-10-01    95
2020-11-01    71
2020-12-01    57
Freq: MS, dtype: int32

In [47]:
import pandas as pd

#สร้างลำดับแบบวันเวลา ให้เป็นวันที่ 1 และ 16 ของแต่ละเดือน
idx_1 = pd.date_range('2050-01-01', periods=12, freq='MS')
idx_16 = idx_1 + pd.DateOffset(days=15)
idx = idx_1.union(idx_16)

data = {'one': np.random.randint(1, 10, len(idx)),
        'two': np.random.randint(10, 100, len(idx)),
        'three': np.random.randint(100, 1000, len(idx))}

df = pd.DataFrame(data, index=idx)

display(df.head(4),
        df.tail(4))

            one  two  three
2050-01-01    1   59    838
2050-01-16    2   84    472
2050-02-01    6   93    374
2050-02-16    2   91    174

            one  two  three
2050-11-01    6   77    413
2050-11-16    8   62    657
2050-12-01    2   35    252
2050-12-16    6   99    547

In [9]:
import pandas as pd

data = np.random.randint(1, 101, 12)
idx = pd.date_range('2020-01', periods=12, freq='MS')

sr = pd.Series(data, index=idx)

display(sr[0],
        sr.index[::2],
        sr.index.delete([3, 6, 9]),
        sr[sr.index > '2020-10'],
        sr[sr.index.month < 3],
        sr['2020-06-01':'2020-10'],
        sr['1 April 2020'::2])

52

DatetimeIndex(['2020-01-01', '2020-03-01', '2020-05-01', '2020-07-01',
               '2020-09-01', '2020-11-01'],
              dtype='datetime64[ns]', freq='2MS')

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-05-01',
               '2020-06-01', '2020-08-01', '2020-09-01', '2020-11-01',
               '2020-12-01'],
              dtype='datetime64[ns]', freq=None)

2020-11-01    69
2020-12-01    84
Freq: MS, dtype: int32

2020-01-01    52
2020-02-01    67
Freq: MS, dtype: int32

2020-06-01    33
2020-07-01    92
2020-08-01    40
2020-09-01    69
2020-10-01    85
Freq: MS, dtype: int32

2020-04-01    43
2020-06-01    33
2020-08-01    40
2020-10-01    85
2020-12-01    84
Freq: 2MS, dtype: int32

In [49]:
import pandas as pd

data = np.random.randint(1, 101, 12)
idx = pd.date_range('2020-01', periods=12, freq='MS')

sr = pd.Series(data, index=idx)

display(sr['2020-02-01'],
        sr['1 April 2020'],
        sr['12/1/2020'],
        sr[datetime(2020, 10, 1)],
        sr[pd.Timestamp(2020, 9, 1)])

18

27

55

79

80

In [51]:
import pandas as pd

idx = pd.date_range('2020-01-01', periods=14, freq='D')   #วันพุธ

sr = pd.Series(np.arange(10, 150, 10), index=idx)

display(sr,
        sr.resample('W-SAT').sum())  #mean(), max()

2020-01-01     10
2020-01-02     20
2020-01-03     30
2020-01-04     40
2020-01-05     50
2020-01-06     60
2020-01-07     70
2020-01-08     80
2020-01-09     90
2020-01-10    100
2020-01-11    110
2020-01-12    120
2020-01-13    130
2020-01-14    140
Freq: D, dtype: int32

2020-01-04    100
2020-01-11    560
2020-01-18    390
Freq: W-SAT, dtype: int32

In [52]:
import pandas as pd

idx = pd.date_range('2020-01-01', periods=10, freq='D')
data = {'one': np.random.randint(1, 10, len(idx)),
        'two': np.random.randint(10, 100, len(idx)),
        'three': np.random.randint(100, 1000, len(idx))}

df = pd.DataFrame(data, index=idx)

display(df,
        df.resample('2D').mean())

            one  two  three
2020-01-01    9   95    582
2020-01-02    6   52    107
2020-01-03    2   52    185
2020-01-04    7   44    608
2020-01-05    2   89    963
2020-01-06    9   70    868
2020-01-07    2   28    625
2020-01-08    7   23    963
2020-01-09    9   62    139
2020-01-10    1   37    540

            one   two  three
2020-01-01  7.5  73.5  344.5
2020-01-03  4.5  48.0  396.5
2020-01-05  5.5  79.5  915.5
2020-01-07  4.5  25.5  794.0
2020-01-09  5.0  49.5  339.5

In [54]:
import pandas as pd

idx = pd.date_range('2020-01-01', periods=14, freq='D')   

sr = pd.Series(np.arange(10, 150, 10), index=idx)

display(sr,
        sr.resample('W-SAT').ohlc())

2020-01-01     10
2020-01-02     20
2020-01-03     30
2020-01-04     40
2020-01-05     50
2020-01-06     60
2020-01-07     70
2020-01-08     80
2020-01-09     90
2020-01-10    100
2020-01-11    110
2020-01-12    120
2020-01-13    130
2020-01-14    140
Freq: D, dtype: int32

            open  high  low  close
2020-01-04    10    40   10     40
2020-01-11    50   110   50    110
2020-01-18   120   140  120    140

In [55]:
import pandas as pd

idx = pd.date_range('2020-01', periods=3, freq='M')

sr = pd.Series(np.random.randint(10, 100, len(idx)), index=idx)

display(sr,
        sr.resample('W-SAT').ffill(limit=2))

2020-01-31    23
2020-02-29    12
2020-03-31    23
Freq: M, dtype: int32

2020-02-01    23.0
2020-02-08    23.0
2020-02-15     NaN
2020-02-22     NaN
2020-02-29    12.0
2020-03-07    12.0
2020-03-14    12.0
2020-03-21     NaN
2020-03-28     NaN
2020-04-04    23.0
Freq: W-SAT, dtype: float64

In [57]:
import pandas as pd

idx = pd.date_range('2020-01', periods=3, freq='M')

sr = pd.Series(np.random.randint(10, 100, len(idx)), index=idx)

display(sr,
        sr.resample('W-SAT').bfill(limit=2))

2020-01-31    62
2020-02-29    44
2020-03-31    77
Freq: M, dtype: int32

2020-02-01     NaN
2020-02-08     NaN
2020-02-15    44.0
2020-02-22    44.0
2020-02-29    44.0
2020-03-07     NaN
2020-03-14     NaN
2020-03-21    77.0
2020-03-28    77.0
2020-04-04     NaN
Freq: W-SAT, dtype: float64

In [10]:
import pandas as pd
import numpy as np

dr = pd.date_range('2020-01-01', periods=6, freq='M')

format_idx = dr.strftime('%d %b %Y')

data = {'One': np.random.randint(10, 100, 6),
        'Two': np.random.uniform(1, 10, 6)}

df = pd.DataFrame(data, index=format_idx)

display(df)

             One       Two
31 Jan 2020   93  5.970250
29 Feb 2020   74  3.409001
31 Mar 2020   23  8.078861
30 Apr 2020   75  9.426304
31 May 2020   19  2.691479
30 Jun 2020   34  5.114234

In [3]:
import pandas as pd
import numpy as np

dr = pd.date_range('2020-01-01', periods=6, freq='M')

data = {'One': np.random.randint(10, 100, 6),
        'Two': np.random.uniform(1, 10, 6)}

df = pd.DataFrame(data, index=dr)

df.index = df.index.strftime('%d %b %Y')

display(df)

             One       Two
31 Jan 2020   92  4.797752
29 Feb 2020   10  2.344154
31 Mar 2020   61  5.860047
30 Apr 2020   16  9.656550
31 May 2020   26  3.766370
30 Jun 2020   39  6.545036

In [9]:
import pandas as pd
import numpy as np

dr = pd.date_range('2020-01-01', periods=6, freq='M')

data = {'One': np.random.randint(10, 100, 6),
        'Two': np.random.uniform(1, 10, 6)}

df = pd.DataFrame(data, index=dr)

#display(df[1:4],
#        df['31 Jan 2020':'30 Apr 2020'],
#        df['2020-01':'2020-04'],
#        df[df.index.month > 3])

df2 = df['2020-01':'2020-04']
df2.index = df2.index.strftime('%d %b %Y')

df2

             One       Two
31 Jan 2020   48  2.491276
29 Feb 2020   97  5.256158
31 Mar 2020   70  6.655644
30 Apr 2020   89  8.935897

In [7]:
import pandas as pd
import numpy as np

def format(x):
    months = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 
              'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']

    d = x.day
    m = months[x.month - 1]
    y = x.year + 543
    
    return f'{d} {m} {y}'

#----------------------------------------------------
    
dr = pd.date_range('2020-01-01', periods=6, freq='M')

data = {'One': np.random.randint(10, 100, 6),
        'Two': np.random.uniform(1, 10, 6)}

df = pd.DataFrame(data, index=dr)
df.index = df.index.map(format)

df

                    One       Two
31 มกราคม 2563       17  2.187880
29 กุมภาพันธ์ 2563   68  1.920131
31 มีนาคม 2563       34  1.191284
30 เมษายน 2563       96  6.747760
31 พฤษภาคม 2563      14  1.468698
30 มิถุนายน 2563     43  6.821265

In [5]:
import pandas as pd
import numpy as np

def format(x):
    months = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 
              'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']

    d = x.day
    m = months[x.month - 1]
    y = x.year + 543
    
    return f'{d} {m} {y}'

#----------------------------------------------------

holidays = ['2020-01-01', '2020/04/06', '4/13/2020', 'Jul 28, 2020',
            '12 August 2020', 'Tue 13 Oct 2020']

data = {'One': np.random.randint(10, 100, 6), 
        'Two': np.random.uniform(-10, 10, 6),
        'Three': pd.date_range('2020-01-01', periods=6, freq='M'),
        'Four': holidays,
        'Five': holidays}

df = pd.DataFrame(data)

df['Three'] = pd.to_datetime(df['Three'])
df['Three'] = df['Three'].dt.strftime('%d - %b - %Y')

df.Four = pd.to_datetime(df.Four)
df.Four = df.Four.dt.strftime('%d %B %Y')

df.Five = pd.to_datetime(df.Five)
df.Five = df.Five.apply(format)

df

   One       Two            Three             Four             Five
0   38  2.605386  31 - Jan - 2020  01 January 2020    1 มกราคม 2563
1   11 -0.694311  29 - Feb - 2020    06 April 2020    6 เมษายน 2563
2   40 -2.680288  31 - Mar - 2020    13 April 2020   13 เมษายน 2563
3   25  7.440447  30 - Apr - 2020     28 July 2020  28 กรกฎาคม 2563
4   40 -4.442828  31 - May - 2020   12 August 2020  12 สิงหาคม 2563
5   98 -1.489799  30 - Jun - 2020  13 October 2020   13 ตุลาคม 2563