In [1]:
import pandas as pd

pd.__version__

'0.24.2'

In [25]:
import pandas as pd

data1 = [70, 85, 60, 50, 75]
sr1 = pd.Series(data=data1)

data2 = (11, 77, 22, 33, 99)
sr2 = pd.Series(data2)

sr3 = pd.Series([1.23, 4.55, 6.78])

sr4 = pd.Series(range(1, 20, 4))

display(sr1, sr2, sr3, sr4)

0    70
1    85
2    60
3    50
4    75
dtype: int64

0    11
1    77
2    22
3    33
4    99
dtype: int64

0    1.23
1    4.55
2    6.78
dtype: float64

0     1
1     5
2     9
3    13
4    17
dtype: int64

In [26]:
import pandas as pd

data = {'iphone':35000, 'ipad':25000, 'macbook':90000}
sr = pd.Series(data)
sr

iphone     35000
ipad       25000
macbook    90000
dtype: int64

In [45]:
import pandas as pd
import numpy as np

data1 = np.array([16, 32, 64, 128])
sr1 = pd.Series(data1)

data2 = np.random.randint(10, 100, 5)
sr2 = pd.Series(data2)

sr3 = pd.Series(np.random.uniform(-10, 10, 5))

display(sr1, sr2, sr3)

0     16
1     32
2     64
3    128
dtype: int32

0    68
1    81
2    35
3    33
4    63
dtype: int32

0    1.978489
1    2.826992
2   -7.153668
3    0.398543
4   -5.269032
dtype: float64

In [46]:
import pandas as pd

data = [10, 20, 50, 80]  
idx = ['a', 'b', 'c', 'd']
sr1 = pd.Series(data, index=idx)

sr2 = pd.Series([150, 200, 130], 
                index=[2019, 2020, 2021])

display(sr1, sr2)

a    10
b    20
c    50
d    80
dtype: int64

2019    150
2020    200
2021    130
dtype: int64

In [48]:
import pandas as pd

data = [10, 20, 50, 80]  

sr1 = pd.Series(data, index=list('abcd'))
#list('abcd') = ['a', 'b', 'c', 'd']

sr2 = pd.Series(data, index=list('ijkl'))
#list('ijkl') = ['i', 'j', 'k', 'l']

display(sr1, sr2)

a    10
b    20
c    50
d    80
dtype: int64

i    10
j    20
k    50
l    80
dtype: int64

In [55]:
import pandas as pd

data = {'T-Shirt':499, 'Shoes':1000, 'Bag':800}
sr = pd.Series(data)

print(sr.index, sr.values, sep='\n\n')

Index(['T-Shirt', 'Shoes', 'Bag'], dtype='object')

[ 499 1000  800]

In [58]:
import pandas as pd
import numpy as np

sr = pd.Series(np.random.randint(10, 100, 3),
               index=list('abc'))

display(sr,
        sr[0],
        sr.values[1],
        sr['c'],
        sr.index[1])

a    84
b    65
c    51
dtype: int32

84

65

51

'b'

In [62]:
import pandas as pd
import numpy as np

data1 = np.random.randint(10, 100, 10)
sr1 = pd.Series(data1)

data2 = np.random.choice([555, 123, 890, 1009, 108], 7)
sr2 = pd.Series(data2, index=list('ABCDEFG'))

display(sr1[[0, 2, 4, 8]], 
        sr2[['A', 'C', 'D', 'G']])

0    93
2    26
4    58
8    97
dtype: int32

A     555
C     108
D     123
G    1009
dtype: int32

In [83]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 100, 10)
sr = pd.Series(data)

display(sr[3:6],
        sr[1::3],
        sr[-4:])

3    41
4    20
5    94
dtype: int32

1    79
4    20
7    97
dtype: int32

6    45
7    97
8    29
9    34
dtype: int32

In [107]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 100, 5)
sr = pd.Series(data, index=list('abcde'))

display(sr['b':'d'],
        sr['a':'e':2],
        sr['d':'b':-1])

b    16
c    33
d    69
dtype: int32

a    99
c    33
e    43
dtype: int32

d    69
c    33
b    16
dtype: int32

In [4]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 100, 5)
sr = pd.Series(data, index=[1, 4, 6, 8, 10])

display(sr, sr[3:8])

1     41
4     48
6     43
8     43
10    53
dtype: int32

8     43
10    53
dtype: int32

In [2]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 100, 5)
sr = pd.Series(data, index=[1, 4, 6, 8, 10])

display(sr, 
        sr.loc[4], 
        sr.loc[3:8], 
        sr.loc[6:],
        sr.loc[[1, 6, 10]])


sr.index = list('abcde')  #แก้ไข Index เดิมของ Series
display(sr.loc['b':'d'])  #แสดงช่วง Index ระหว่าง b - d

1     49
4     41
6     84
8     70
10    22
dtype: int32

41

4    41
6    84
8    70
dtype: int32

6     84
8     70
10    22
dtype: int32

1     49
6     84
10    22
dtype: int32

b    41
c    84
d    70
dtype: int32

In [170]:
import pandas as pd
import numpy as np

sr1 = pd.Series(np.random.randint(10, 100, 3), 
                index=list('abc'))

sr2 = pd.Series(np.random.randint(10, 100, 3), 
                index=list('cba'))

sr3 = pd.Series(np.random.randint(10, 100, 3), 
                index=list('zba'))

display(sr1,
        sr1 + 10,
        sr2,
        sr1 - sr2,
        sr2 + sr3)

a    12
b    88
c    73
dtype: int32

a    22
b    98
c    83
dtype: int32

c    93
b    12
a    20
dtype: int32

a    -8
b    76
c   -20
dtype: int32

a    50.0
b    94.0
c     NaN
z     NaN
dtype: float64

In [12]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 101, 10)
sr = pd.Series(data)

display(sr[sr >= 50],
        sr[sr % 5 == 0])

2    88
3    77
9    50
dtype: int32

9    50
dtype: int32

In [89]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 101, 10)
sr = pd.Series(data)

display(sr[(sr >= 40) & (sr <= 80)],
        sr[(sr < 20) | (sr > 70)])

1    44
3    58
4    49
5    73
6    56
8    72
dtype: int32

0    90
2    14
5    73
7    11
8    72
9    89
dtype: int32

In [104]:
import pandas as pd
import numpy as np

data = np.array([1, 2, np.nan, 4, np.nan, 6])
sr = pd.Series(data)
sr

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    6.0
dtype: float64

In [158]:
import pandas as pd
import numpy as np

sr1 = pd.Series(np.random.choice([5, 10, np.nan], 5))
sr2 = pd.Series([np.nan, 1, 2, 3, np.nan])

display(sr1, 
        sr1 + 1,
        sr2,
        sr1 - sr2)

0     NaN
1     NaN
2    10.0
3     5.0
4     NaN
dtype: float64

0     NaN
1     NaN
2    11.0
3     6.0
4     NaN
dtype: float64

0    NaN
1    1.0
2    2.0
3    3.0
4    NaN
dtype: float64

0    NaN
1    NaN
2    8.0
3    2.0
4    NaN
dtype: float64

In [1]:
import pandas as pd

data = [1, 2, 4, 8, 16]
sr = pd.Series(data, index=list('abcde'))

display(sr,
        sr.sum(),
        sr[2:5].sum(),
        sr.loc['a':'c'].sum(),     
        sr[['b', 'c', 'e']].sum(), 
        sr[sr > 5].sum())

a     1
b     2
c     4
d     8
e    16
dtype: int64

31

28

7

22

24

In [45]:
import pandas as pd

data = [1, 2, 4, 8, 16]
sr = pd.Series(data)
print('count = ', sr.count())
print('mean = ', sr.mean())
print('std = ', sr.std())
print('max = ', sr.max())
print('min =', sr.min())
print()
print(sr.describe())

count =  5
mean =  6.2
std =  6.099180272790763
max =  16
min = 1

count     5.00000
mean      6.20000
std       6.09918
min       1.00000
25%       2.00000
50%       4.00000
75%       8.00000
max      16.00000
dtype: float64
3

In [18]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 101, 5)
sr = pd.Series(data)

display(sr,
        (sr > 30).all(),
        (sr % 10 == 0).any())

0    38
1    63
2    42
3    68
4    35
dtype: int32

True

False

In [70]:
import pandas as pd

sr1 = pd.Series([1, 2, 4], index=list('abc'))
sr2 = pd.Series([16, 32], index=list('de'))

sr3 = sr1.append(sr2, ignore_index=False)
sr4 = sr1.append(sr2, ignore_index=True)

display(sr3, sr4)

a     1
b     2
c     4
d    16
e    32
dtype: int64

0     1
1     2
2     4
3    16
4    32
dtype: int64

a     1
b     2
c     4
d    16
e    32
0     1
1     2
2     4
3    16
4    32
dtype: int64

In [73]:
import pandas as pd

sr1 = pd.Series([1, 2, 4], index=list('abc'))
sr2 = pd.Series([16, 32], index=list('de'))

sr3 = pd.concat([sr1, sr2])

display(sr3)

a     1
b     2
c     4
d    16
e    32
dtype: int64

In [49]:
import pandas as pd
import numpy as np

def func(x):
    return np.nan if x < 0 else x

data = np.random.choice([-10, -5, -1, 0, 3, 5, 7], 5)
sr1 = pd.Series(data, index=list('abcde'))
sr2 = sr1.apply(func)

display(sr1, sr2)

a    3
b    5
c    3
d    0
e   -1
dtype: int32

a    3.0
b    5.0
c    3.0
d    0.0
e    NaN
dtype: float64

'd'

In [68]:
import pandas as pd

sr = pd.Series([2, 4, 6, 6, 4, 2, 2, 7])

print(sr.unique(),
      sr.nunique(),
      sr.is_unique,
      sep='\n\n')

[2 4 6 7]

4

False

2    3
6    2
4    2
7    1
dtype: int64

In [69]:
import pandas as pd

sr = pd.Series([2, 4, 6, 6, 4, 2, 2, 7])

display(sr.value_counts())

2    3
6    2
4    2
7    1
dtype: int64

In [31]:
import pandas as pd
import numpy as np

sr = pd.Series(np.random.randint(10, 100, 10))

display(sr.head(3),
        sr.tail(2))

0    31
1    96
2    25
dtype: int32

8    14
9    56
dtype: int32

In [32]:
import pandas as pd

data = [10, 20, 30, 40]
sr1 = pd.Series(data, index=list('abcd'))
sr2 = sr1.drop('b')
sr3 = sr1.drop({'a', 'c'})

display(sr2, sr3)

a    10
c    30
d    40
dtype: int64

b    20
d    40
dtype: int64

In [88]:
import pandas as pd

data = [10, 20, 30, 40]
sr1 = pd.Series(data, index=list('abcd'))

sr2 = sr1.map({10:101, 40:404})
display(sr2)

a    101.0
b      NaN
c      NaN
d    404.0
dtype: float64

In [89]:
import pandas as pd

data = [10, 20, 30, 40]
sr1 = pd.Series(data, index=list('abcd'))

sr2 = sr1.rename({'a':'Ant', 'd':'Dog'})

sr1.index = ['one', 'two', 'three', 'four']

display(sr2, sr1)

Ant    10
b      20
c      30
Dog    40
dtype: int64

one      10
two      20
three    30
four     40
dtype: int64

In [41]:
import pandas as pd
import numpy as np

sr1 = pd.Series(np.random.randint(10, 100, 4), 
                index=list('abcd'))

sr2 = sr1.sort_values()
sr3 = sr1.sort_values(ascending=False)

display(sr2, sr3)

a    10
b    24
d    30
c    70
dtype: int32

c    70
d    30
b    24
a    10
dtype: int32

In [92]:
import pandas as pd
import numpy as np

sr = pd.Series(np.random.randint(10, 100, 4), 
               index=list('abcd'))

for (i, v) in sr.iteritems():   #enumerate(sr)
    print(f'{i}: {v}')

a: 24
b: 76
c: 27
d: 14

In [83]:
import pandas as pd
import numpy as np

sr = pd.Series([np.nan, 1, 2, np.nan, 4], 
               index=list('abcde'))

display(sr.sum(),
        sr.mean(), 
        sr.count(), 
        sr.size)

display(sr.sum(skipna=False),
        sr.mean(skipna=False))

7.0

2.3333333333333335

3

5

nan

nan

In [109]:
import pandas as pd
import numpy as np

sr1 = pd.Series([np.nan, 1, 2, np.nan, 4], 
                index=list('abcde'))

sr2 = sr1.dropna()
sr3 = sr1.fillna(0)

display(sr2, 
        sr3, 
        sr1.hasnans, 
        sr2.hasnans)

b    1.0
c    2.0
e    4.0
dtype: float64

a    0.0
b    1.0
c    2.0
d    0.0
e    4.0
dtype: float64

True

False